<h1>Test</h1>

<form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" class="form-control" formControlName="name">
  </div>

  <div class="form-group">
    <label for="image">Photo</label>
    <input type="file" id="image" class="form-control" formControlName="image">
  </div>

  <button type="submit" class="btn btn-primary">Add</button>
</form>
