<div class="container">
    <h1>TEST</h1>
    <div class="row">
      <div class="col-md-4" *ngFor="let item of items">
        <div class="card">
          <img src="{{ item.imagePath }}" class="card-img-top" alt="{{ item.name }}"> 
          <div class="card-body">
            <h5 class="card-title">{{ item.content }}</h5> 
          </div>
        </div>
      </div>
    </div>
  </div>
  