.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   
   .card {
    flex: 1 0 calc(33.333% - 10px);
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
   }
   
   .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   }
   
   .card img {
    width: 100%;
    height: auto;
   }
   
   .new-row {
    margin-left: 0;
   }
   